#top-header {
    display: flex;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: midnightblue;
}

#main-title {
    font-weight: 700;
    color: white;
}

#search-form {
    margin: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding-bottom: 20px;
}

#card-header {
    display: flex;
    font-weight: 700;
}

#form-section {
    margin: 25px;
}

#ui-datepicker-div {
    margin: 25px;
}

#button-section {
    margin: 25px;
}

#news-display {
    margin: 20px;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

.newsTitle {
    font-size: 25px;
    margin-top: 30px;
}

.abstract {
    margin-top: 5px;
    margin-bottom: 5px;
}

.published {
    font-weight: 500;
    font-size: 15px;
    margin: 0;
}

.link {
    margin-bottom: 40px;
    font-size: 15;
}

/* .searchBtn {
    display: flex;
    margin: 0;
    border: 0;
    background: 0;
    padding: 0;
    align-items: center;
} */

.searchBtn {
    display: flex;
    position: absolute;
    margin-bottom: 30px;
    border: 0;
    background: 0;
    padding: 0;
    align-items: center;
    margin-left: 15px;
}

/* .deleteBtn {
    display: flex;
    margin: 0;
    border: 0;
    background: 0;
    padding: 0;
    align-items: center;
} */

.deleteBtn {
    display: flex;
    position: absolute;
    margin-bottom: 30px;
    border: 0;
    background: 0;
    padding: 0;
    align-items: center;
    margin-left: 120px;
}

.col-3 {
    max-width: 10%;
}

.fa-solid, .fas {
    margin-right: 5px;
}